<div>
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive" src="images/hpic.jpeg" style="width: auto" />
    </div>
    <div class="col-sm-8">
      <div class="row">dongzhao84</div>
      <br/>
      <div class="row">
        <div class="col-sm-2">
          <span>签名档</span>
        </div>
        <div class="col-sm-2">
          <button>编辑</button>
        </div>
      </div>
      <br/>
      <div class="row">
        今天天气不错!
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div ui-view></div>
  </div>

</div>
