<div class="row">
  <div class="col-sm-6">
    <img class="img-responsive" ng-src="{{avatarPath}}" style="width: auto" />
  </div>
  <div class="col-sm-6">
    <div class="row"><span>关注</span>{{followers}}&nbsp;&nbsp;&nbsp;<span>粉丝</span>{{fans}}</div>

    <div class="row"><span>{{date}}加入</span></div>
    <div class="row">

    </div>
  </div>
</div>
<br/>
<div class="row">
  随口一说
</div>
<br/>
<div class="row">
  <textarea ng-show="personal" class="form-control" rows="10" ng-mouseover="changeShowForA()" ng-class="{'in':showForA,'out':!showForA}" ng-mouseleave="changeShowForA()" ng-blur="sendAnnouncement(announcement)" data-ng-model="announcement" placeholder="多说点吧！">{{announcement}}</textarea>
<div ng-show="others">{{announcement}}</div>
</div>
<br/>

