<div >
  <div class="row" >
    <div class="col-sm-3">
      <img class="img-responsive img-circle" ng-src="{{userInfo.avatarPath}}" style="width: auto" />
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div>
          <h4>
            {{userInfo.nickName}}
          </h4>
          </div>
        <br/>

        <div  >
          <!--<div>-->
            <!--<span class="glyphicon glyphicon-pencil form-control-feedback"></span>-->
            <!--<input ng-show="show.editable" type="text"    ng-class="{'in':!show.editable,'out':show.editable}"-->
                   <!--ng-model="userInfo.signature" ng-blur="sendSignature()" placeholder="一句个性标签介绍一下自己吧!" >-->
            <!--<div ng-show="!show.editable" >{{userInfo.signature}}</div>-->
          <!--</div>-->


          <input ng-show="show.editable" type="text" class="form-control"   ng-class="{'in':!show.editable,'out':show.editable}"
                 ng-model="userInfo.signature" ng-blur="sendSignature()" placeholder="一句个性标签介绍一下自己吧!" >
          <div ng-show="!show.editable" >{{userInfo.signature}}</div>

        </div>

      </div>

    </div>

  </div>
  <br/>
  <div class="row">
    <div ui-view></div>
  </div>

</div>
