<div ng-init="init()">
    <ul>
        <li>
            <div class="row">
                <input placeholder="此处随意输入信息" ng-model="input">
                <button ng-click="inputCommit()">提交</button>
                <span>{{inputRes}}</span>
            </div>
        </li>
        <li>
            <div class="row">
                分页
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <td>id</td>
                    <td>name</td>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in pageItems">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div uib-pagination ng-change="pageChange()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" first-text="首页" last-text="尾页" next-text="下一页" previous-text="上一页" class="pagination-sm" boundary-links="true" rotate="false" ></div>
            </div>
        </li>
        <li>
            <div class="row">
                时间选择控件
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-2" style="text-align: right">
                        <label for="start_time" class="form-control" style="border: none">查询起始日期：</label>
                    </div>
                    <div class="col-md-4 dropdown">
                        <a class="dropdown-toggle" id="start" role="button" data-toggle="dropdown" href="">
                            <div class="input-group">
                                <input type="text" class="form-control" id="start_time" data-ng-model="start_time" datepicker-popup="yyyy-MM-dd HH:mm:ss" placeholder="请选择起始日期">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="start_time"
                                            data-datetimepicker-config="{ dropdownSelector: '#start' }">
                            </datetimepicker>
                        </ul>
                    </div>
                    <div class="col-md-2" style="text-align: right">
                        <label for="end_time" class="form-control" style="border: none">查询截止日期：</label>
                    </div>
                    <div class="col-md-4 dropdown">
                        <a class="dropdown-toggle" id="end" role="button" data-toggle="dropdown" href="">
                            <div class="input-group">
                                <input type="text" class="form-control" id="end_time" data-ng-model="end_time" datepicker-popup="yyyy-MM-dd HH:mm:ss" placeholder="请选择截止日期" date>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="end_time"
                                            data-datetimepicker-config="{ dropdownSelector: '#end' }">
                            </datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                文件上传
            </div>
            <div class="row">
                <h4>Upload on file select</h4>
                <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                        accept="*">
                    Select File</button>
                <br><br>
                <div class="col-sm-6">
                    <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " disabled="" ng-model="fileName">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                            <label ngf-select="uploadFiles($file, $invalidFiles)" class="btn btn-default ">
                                <span class="glyphicon glyphicon-folder-open" ngf-max-size="5MB"></span>
                                Choose file</label></span></div>
                </div>
                <br>
                <br>
                File:
                <div>{{file.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                    <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{file.progress}}%"
               ng-bind="file.progress + '%'"></div>
      </span>
                </div>
                {{errorMsg}}
            </div>
            <br>
            <div class="col-sm-3">
                <img class="img-responsive" ng-src="{{path}}" style="width: auto;height: auto">
            </div>

        </li>
        <li>
            <div class="row">html解析</div>
            <button ng-click="parse()">解析</button>
        </li>
        <li>
            <div class="row">获取静态文件</div>
            <button ng-click="getResource()">获取</button>
        </li>
        <li>
            <div class="row">angular锚点</div>
            <a ng-click="goto('test')">定位</a>
        </li>
        <li>
            <div class="row">
                <div style="height: 305px">
                    <div uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="true" >
                        <div uib-slide ng-repeat="slide in slides" active="slide.active" index="$index">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <p>active:{{slide.active}}</p>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div id="test" class="row">锚点跳转位置</div>

        </li>


    </ul>


</div>
