<div class="container-fluid" ng-init="init()">
<nav class="navbar navbar-default" role="navigation">
  <!--头模块-->
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main" style="font-weight: bolder;font-size: xx-large;color: #0f0f0f">OhmyNews!</a>
    </div>
  <div class="col-md-offset-10">
    <ul class="nav navbar-nav ">
      <li><a class="navbar-brand" ui-sref="login" style="color: #0f0f0f"><small>登录<span class="glyphicon glyphicon-log-in"></span> </small></a> </li>
    </ul>
  </div>

  <div  class="col-md-offset-8 col-md-4">
      <form role="form" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">搜索</span>
            <input type="text" class="form-control" ng-model="searchContent" >
          </div>
          <button type="button" class="btn" ng-click="search()"><span class="glyphicon glyphicon-search"></span> </button>
        </div>
      </form>
<hr>
  </div>

  <div  class="navbar navbar-inverse col-md-offset-1 col-md-10" role="navigation">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" ng-click="changePage(1,currentPage)">首页</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(2,currentPage)">文化</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(3,currentPage)">时尚</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(4,currentPage)">娱乐</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(5,currentPage)">房产</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(6,currentPage)">科技</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(7,currentPage)">汽车</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(8,currentPage)">游戏</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(9,currentPage)">体育</a> </li>
      <li><a class="navbar-brand" ng-click="changePage(10,currentPage)">书城</a> </li>

    </ul>
  </div>
</nav>
</div>

<!--正文模块-->
<div class="container-fluid">

  <!--左侧部分-->
<div class="col-md-3">
<button class="btn btn-primary col-md-offset-2 btn-block" ng-click="collectList()">收藏排行</button>
  <ol>
    <li ng-repeat="item in collectItems" style="width: 200px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;list-style-position: inside; margin: 10px;"><a  ng-click="articleDetail(item.id)">{{item.topic}}</a> </li>
  </ol>

  <button class="btn btn-primary col-md-offset-2 btn-block" ng-click="markList()">评论排行</button>
  <ol>
    <li ng-repeat="item in markItems" style="width: 200px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;list-style-position: inside;margin: 10px;"><a ng-click="articleDetail(item.id)">{{item.topic}}</a> </li>
  </ol>

  <button class="btn btn-primary col-md-offset-2 btn-block" ng-click="lastList()">最新动态</button>
  <ol>
    <li ng-repeat="item in lastItems" style="width: 200px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;list-style-position: inside;margin: 10px;"><a ng-click="articleDetail(item.id)">{{item.topic}}</a> </li>
  </ol>

  <button class="btn btn-primary glyphicon glyphicon-refresh col-md-offset-2 btn-block" ng-click="refreshAll()">点击刷新</button>
</div>

<!--右侧正文部分-->
  <div class="col-md-offset-1 col-md-7">
      <div class="row" ng-repeat="item in newsItems">
        <h3 style="font-weight: bolder;text-align: center" >{{item.topic}}</h3>
        <div class="col-md-offset-7" >作者：{{item.author}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.date}}</div>
        <!--根据该新闻是否带有图片来进行相应的样式选择-->
          <div ng-show="item.picUrl.length>0">
            <div uib-carousel style="width: 200px;height: 170px; margin-right: 20px; margin-bottom: 20px"class="pull-left" interval="myInterval" no-wrap="noWrapSlides" active="true" >
              <div uib-slide ng-repeat="pic in item.picUrl" active="pic.active" index="$index">
                <img ng-src="{{pic}}" style="width: 200px;height: 170px;margin:auto;">
              </div>
            </div>

            <!--正文显示部分 当正文文本超过8行时剩余部分显示省略号-->
            <div ng-bind-html="item.text" style="display: -webkit-box;-webkit-line-clamp: 8;-webkit-box-orient: vertical;overflow:hidden;text-overflow: ellipsis;">
            </div>
            <!--跳转新闻显示页面-->
            <a class="pull-right" ng-click="articleDetail(item.id)">
              点击查看全文>>
            </a>
          </div>


        <div ng-show="item.picUrl.length==0">
          <div ng-bind-html="item.text" style="display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
          </div>
          <a class="pull-right" ng-click="articleDetail(item.id)">
            点击查看全文>>
          </a>
        </div>



        <hr>
      </div>

</div>
</div>

<!--分页模块-->
<div class="col-md-offset-4">
  <div uib-pagination ng-change="changePage(index,currentPage)" total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="首页" last-text="尾页" next-text="下一页" previous-text="上一页" class="pagination-sm" boundary-links="true" rotate="false" ></div>
</div>
</div>


<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid col-md-offset-4">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main">返回首页</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand">联系我们</a> </li>
        <li><a class="navbar-brand">投稿须知</a> </li>
        <li ><a class="navbar-brand">版权声明</a> </li>
      </ul>
    </div>
  </div>

</nav>









