<!--<div>账号管理</div>-->
<div ng-init="init()">


    <div>

        <!--<div class="row">-->
            <!--<div class="col-dm-12">-->
                <!--<img src="images\title.PNG" alt="" class="img-responsive">-->
            <!--</div>-->
        <!--</div>-->
        <br>

        <!--用户名设置     -->
        <div class="row">
            <div>

                        <label for="inputName" class="col-sm-2 col-sm-offset-1 control-label">昵称:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputName" ng-model="User.username"
                                   ng-disabled="all" ng-readonly="all" ng-blur="verifyInfo()" required>
                        </div>
                        <div class="col-sm-3">
                            <a ng-click="rename()" ng-model="all">修改</a>
                        </div>
            </div>
        </div>

        <br>
        <!--上传图片-->
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <p>图像:</p>
            </div>
                <div class="col-sm-5">
                    <img   class="img-responsive" ng-src="{{User.path}}" style="width: auto;height: auto">
                </div>
                <div class="col-sm-3">
                    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="*"
                                 class="btn btn-primary" ng-click="photoConserve()">上传
                    </button>
                </div>
        </div>
        <br>
        <!--地址设置-->
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <p>居住地:</p>
            </div>
            <div class="col-sm-5">
                <p>{{User.myaddrCtrl}}</p>
            </div>
            <div class="col-sm-3">
                <a data-toggle="modal" data-target="#mymodal" ng-click="updateAddress()">修改</a>
            </div>
        </div>

        <!--修改邮箱-->
        <div class="row">
            <p class="col-sm-2 col-sm-offset-1">登陆邮箱:</p>
            <div class="col-sm-5">
                {{User.myemCtrl}}
            </div>
            <div class="col-sm-3">
                <div><a data-toggle="modal" data-target="#mymodal2">修改</a></div>
            </div>
        </div>

        <div class="row">
            <p class="col-sm-2 col-sm-offset-1">登陆密码:</p>
            <div class="col-sm-5">
                <input type="password" ng-readonly="true" ng-disabled="true" ng-model="User.myPassword">
            </div>
            <div class="col-sm-3">
                <a data-toggle="modal" data-target="#mymodal3">修改</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-offset-8 col-sm-2">
                <button class="btn btn-default" type="button" ng-click="inputCommit()">保存设置
                </button>
            </div>
        </div>
        <!--地址弹出框-->
        <div class="modal" id="mymodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h5 class="modal-title">省>市>区</h5>
                    </div>

                    <div class="modal-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="myProvince">省</label>
                                <select class="form-control" id="myProvince" ng-model="myprovince"
                                        ng-change="province()" ng-options="province.name
                                        for
                                        province in address"
                                        style="width: 120px">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="mycity" ng-change="city()"
                                        ng-options="province.name
                                        for
                                        province in myprovince.city" style="width: 120px">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="myarea" ng-change="area()"
                                        ng-options="city.value
                                         for
                                         city in mycity.area" style="width: 120px">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-disabled="myprovince.name==null||mycity.name==null||myarea==null||myarea==''" ng-click="dataConserve()" data-dismiss="modal">
                            保存
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



<!-- /.modal -->

        <!--修改密码-->


    </div>
        <div class="modal" id="mymodal3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h5 class="modal-title">修改密码</h5>
                    </div>
                    <div class="modal-body">


                        <form class="form-horizontal" name="pwdForm" novalidate>

                            <div class="form-group">
                                <!--  <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
                                <label for="pwd" class="col-sm-4 control-label">请输入密码：</label>
                                <div class="col-sm-7" style="width: 50%">
                                    <input type="password" id="pwd" style="width: 100%" class="form-control" name="pwd"
                                           ng-model="User.mypwd" placeholder="密码" ng-minlength="6" required>
                                    <span style="color:red" ng-show="pwdForm.pwd.$dirty&& pwdForm.pwd.$invalid">
            <span ng-show="pwdForm.pwd.$error.required"><small>*请输入密码</small></span>
            <span ng-show="pwdForm.pwd.$error.minlength"><small>*密码至少六位</small></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
                                <label for="repwd" class="col-sm-4 control-label">请确认密码：</label>
                                <div class="col-sm-7" style="width: 50%">
                                    <input type="password" id="repwd" style="width: 100%" class="form-control"
                                           name="repwd" ng-model="myrepwd" placeholder="请确认密码" required>
                                    <span style="color:red" ng-show="pwdForm.repwd.$dirty&& pwdForm.repwd.$invalid">
                <span ng-show="pwdForm.repwd.$error.required"><small>*请再次输入密码</small></span>
                </span>
                                    <span style="color:red" ng-show="pwdForm.repwd.$dirty&& pwdForm.repwd.$valid">

                <span ng-show="User.mypwd!=myrepwd"><small>*两次密码输入不一致</small></span></span>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-disabled="pwdForm.pwd.$invalid||User.mypwd!=myrepwd" ng-click="dataConserve3()" data-dismiss="modal">保存</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    <div class="modal" id="mymodal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h5 class="modal-title">电子邮件</h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="emailForm" novalidate>
                        <div class="input-prepend form-group">
                            <div class="input-group" style="width: 75%">
                                <input type="email" class="form-control" ng-model="myemailaddr" name="email"
                                       ng-pattern="/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/"
                                       placeholder="Email address" aria-describedby="basic-addon2" required
                                       style="width: 100%">
                                <span class="input-group-addon" id="basic-addon2">@example.com</span>

                            </div>
                            <div>
  <span style="color:red" ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
<span ng-show="emailForm.email.$error.required"><small>*请输入邮箱</small></span>
<span ng-show="emailForm.email.$error.pattern"><small>*非法的邮箱地址</small></span>
</span><span style="color:red" ng-show="isEmailRegist"><small>*该邮箱已被注册*</small></span>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeEmailModal()">关闭</button>
                    <button type="button" class="btn btn-primary" ng-disabled="emailForm.email.$invalid"
                            ng-click="dataConserve2()">保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>
