<uib-tabset active="active" type="tabs">
  <uib-tab index="0" heading="我的主页" ui-sref="app.personalHomepage.hpTabset.myHomePage">
    <div ui-view ></div>
  </uib-tab>
  <uib-tab index="1" heading="私信" ui-sref="app.personalHomepage.hpTabset.privateMsg">
    <div ui-view ></div>
  </uib-tab>
  <uib-tab index="2" heading="草稿箱" ui-sref="app.personalHomepage.hpTabset.draft">
    <div ui-view ></div>
  </uib-tab>
  <uib-tab index="3" heading="喜欢／收藏" ui-sref="app.personalHomepage.hpTabset.likeCollect">
    <div ui-view ></div>
  </uib-tab>
  <uib-tab index="4" heading="历史文章" ui-sref="app.personalHomepage.hpTabset.history">
    <div ui-view ></div>
  </uib-tab>
  <uib-tab index="5" heading="我的关注" ui-sref="app.personalHomepage.hpTabset.myConcern">
    <div ui-view ></div>
  </uib-tab>
</uib-tabset>
