
<div ng-init="init()">
    <div style="font-size: larger;font-weight: bolder;color: #0f0f0f">
                 <h1>我的钱包：</h1>
    </div>
<!--进度条和余额变动-->
            <div   class="progress">
                     <div class="progress-bar" role="progressbar" ng-model="MaxMoney" aria-valuenow="{{money/MaxMoney/0.01}}" aria-valuemin="0" aria-valuemax="100" style="width:{{money/MaxMoney/0.01}}%;">
                                            {{(money/MaxMoney/0.01).toFixed(2)}}%
                     </div>
            </div>

            <div id="ballance" class="ax_default _三级标题">
                <div id="u169_div" class=""></div>
                    <!-- Unnamed () -->
             <div id="u170" class="text" style="visibility: visible;">
                 <br> <p><span ng-model="money">余额：{{money}}</span></p>
                 <!--<p><button ng-click="ballance()"> 显示余额 </button></p>-->
             </div>
            </div>
</div>

<!--提现功能-->
<form name="submit">
    <div  id="u177" class="ax_default link_button">
        <div id="u177_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u178" class="text" style="visibility: visible;">

            <input type="number"  ng-model="inputwithdraw" ng-change="inputwithdraw = (inputwithdraw==undefined||inputwithdraw==null?0:inputwithdraw>money?money:inputwithdraw<0?0:inputwithdraw)">
            <p> <button class="btn-sm btn-info" ng-click="withdraw()">提现</button></p>
            <!--<span>{{inputOutRes}}</span>-->



        </div>
    </div>
<!--充值-->
    <!-- Unnamed (矩形) -->
    <div  id="u179" class="ax_default link_button">
        <div id="u179_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u180" class="text" style="visibility: visible;">
            <input type="number" ng-model="inputrecharge" ng-change="inputrecharge = (inputrecharge==undefined||inputrecharge==null?0:inputrecharge<0?0:inputrecharge)">
            <p> <button class="btn-sm btn-info" ng-click="recharge()">充值</button></p>
            <!--<span>{{inputInRes}}</span>-->


        </div>
    </div>
</form>
<!--支出收入事项简记-->
    <div class="tab-container">

        <br>
        <ul class="nav nav-pills  ">
            <li role="presentation" ng-class="{true:'active',false:'inactive'}[index.curIndex==0]"><a ng-click="index.curIndex=0"  style="font-weight: bold;">支出事项</a></li>
            <li role="presentation" ng-class="{true:'active',false:'inactive'}[index.curIndex==1]"><a ng-click="index.curIndex=1"  style="font-weight: bold;">收入事项</a></li>
        </ul>
    </div>
<div class="tab-container"  >
    <div  class="container" >
        <div ng-show="index.curIndex==0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 200px">流水号</th>
                    <th style="width: 200px">  交易时间 </th>
                    <th style="width: 200px">  支出事项 </th>
                    <th style="width: 200px">  金额（元）     </th>
                    <th style="width: 200px">  收款方   </th>
                    <th style="width: 200px">  留言     </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in eventsout">
                    <td>{{item.id}}</td>
                    <td>{{item.date|date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>{{item.targetName==null?'提现':'打赏'}}</td>
                    <td>{{item.amount<0?-item.amount:item.amount}}</td>
                    <td>{{item.targetName}}</td>
                    <td>{{item.message}}</td>

                </tr>
                </tbody>
            </table>
            <br>
            <div class="text-center">
                <div uib-pagination ng-change="pageChange(0)" total-items="eventOutPagination.totalItems" ng-model="eventOutPagination.currentPage" max-size="maxSize" first-text="首页" last-text="尾页" next-text="下一页" previous-text="上一页" class="pagination" boundary-links="true" rotate="false" ></div>

            </div>

        </div>
        <div ng-show="index.curIndex==1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 200px">流水号</th>
                    <th style="width: 200px">  交易时间 </th>
                    <th style="width: 200px">  收入事项 </th>
                    <th style="width: 200px">  金额(元)     </th>
                    <th style="width: 200px">  付款方   </th>
                    <th style="width: 200px">  留言     </th>


                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in eventsin">
                    <td>{{item.id}}</td>
                    <td>{{item.date|date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>{{item.targetName==null?'充值':'打赏'}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.targetName}}</td>
                    <td>{{item.message}}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="text-center">
                <div uib-pagination ng-change="pageChange(1)" total-items="eventInPagination.totalItems" ng-model="eventInPagination.currentPage" max-size="maxSize" first-text="首页" last-text="尾页" next-text="下一页" previous-text="上一页" class="pagination" boundary-links="true" rotate="false" ></div>

            </div>
        </div>




        </div>

</div>



</div>